/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}


/* colour pallette Goofy 
Oranje #F58221
Blauw #00AEEF
Zwart #000000
Wit #FFFFFF
Beige #F3D9CE 
Groen #A6CE39 
*/

:root {
    --color-main: #fff;
    --achtergrondkleur: hsl(76, 60%, 57%);
    --lettertype: chaloops, sans-serif;
    --schaduw: drop-shadow(0 0 0.75rem #F58221);
}


html {
    height: 100%;
    margin: 0;
}




/********/
/**BODY*/
/********/
body {
    height: 100vh;
    background-color: var(--achtergrondkleur);

    font-family: var(--lettertype);
    font-weight: 700;
    font-style: normal;

    /* mijn code hier */
    height: 100vh;
    margin: 0;
}


button:not([disabled]) {
    cursor: pointer;
}

.goofytekst {
    color: black;
}






/******************/
/* HEADER / INTRO */
/******************/
header {
    text-align: center;

}

h1 {
    color: #FFF;
}




/********************/
/* MAIN met LIJSTJE */
/********************/
main {
    height: 200vw;

    background-image: url(../images/goofyvoetstappen.png);
    background-size: 100% auto;
    background-repeat: no-repeat;

}

.voetafdruk {
    position: absolute;
    width: 100%;
    top: 7vw;
    left: -5vw;
    bottom: 0;
}





/**********/
/* BUTTON */
/**********/


/* de button zelf */
button {
    position: relative;
    background: none;
    border: none;
    font-family: var(--lettertype);
    font-weight: 700;
}



button img {
    width: 100%;
    height: auto;
}

/* de img in de button */
button img:before {
    width: 100%;
    height: auto;
}

button img:hover {
    filter: var(--schaduw);
}

/* de tekstbubble in de button */
button .talkbubble {
    position: absolute;
    width: 12em;
    height: 6em;
    background-color: white;
    border-radius: 10px;

    display: grid;
    place-items: center;

    padding: 1em 1em 1em 1em;

    opacity: 0;
}

button .talkbubble:before {
    content: "";
    position: absolute;


    width: 1em;
    height: 1em;

    background-color: inherit;


}

button:hover .talkbubble {
    opacity: 1;
}

button:focus .talkbubble {
    opacity: 1;
}


button:active .talkbubble {
    /*    opacity: 1;*/
}

button .rechts {
    left: calc(100% + 1.5em);
    top: calc(50% - 3em);
}

button .rechts:before {
    right: 100%;
    top: calc(50% - .5em);
    clip-path: polygon(100% 0, 100% 100%, 0 50%, 100% 0);
}

button .links {
    left: calc(-0% - 12em);
    top: calc(50% - 3em);
}

button .links:before {
    right: -8%;
    top: calc(50% - .5em);
    clip-path: polygon(0 0, 0 100%, 100% 50%, 0 0);
}

/********/
/*GOOFY1*/
/*******/

button#vallen {
    width: 15%;
    top: -8vh;
    left: 10vw;

}

/********/
/*GOOFY2*/
/*******/

button#gevallen {
    width: 15%;
    top: 43vw;
    left: -12vw;
}

/********/
/*GOOFY3*/
/*******/

button#verward {
    width: 15%;
    top: 90vw;
    left: -28vw;
}

/********/
/*GOOFY4*/
/*******/

button#wijzen {
    width: 15%;
    top: 89vw;
    left: 36vw;
}

/********/
/*GOOFY5*/
/*******/

button#zitten {
    width: 15%;
    top: 55vw;
    left: -13vw;
}

/********/
/*GOOFY6*/
/*******/

button#metmax {
    width: 20%;
    top: 3vh;
    left: -6vw;
}

/********/
/*GOOFY7*/
/*******/

button#start {
    width: 10%;
    top: -17vw;
    left: 53vw;
}






/********/
/*ANIMATIES*/
/*******/

/* ----------------------------------------------
 * Generated by Animista on 2022-5-12 16:7:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}


.rotate {
    animation: rotate-center .4s cubic-bezier(.455, .03, .515, .955) both
}

/*

---------------------------------------------- 
* Generated by Animista on 2022-5-16 12:36:57 * Licensed under FreeBSD License. * See http: //animista.net/license for more info. 
* w: http: //animista.net, t: @cssanimista
* ----------------------------------------------
*/

.flip-vertical-right {
    -webkit-animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-5-16 16:37:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-vertical-right
 * ----------------------------------------
 */
@-webkit-keyframes flip-vertical-right {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

@keyframes flip-vertical-right {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}
